<h1><%= @restaurant.name%> </h1>


  <%= @restaurant.name  %>
  <%=  @restaurant.address%>
  <%=  @restaurant.phone_number%>
  <%=  @restaurant.category%>

<h1>Reviews</h1>

<% @reviews.each do |review| %>
  <li><%= review.content %> (<%= review.rating %>)</li>
<% end %>

<%= link_to "Add a new review", new_restaurant_review_path(@restaurant)  %>


<%= link_to "go home", restaurants_path %>
