<h1><%= @restaurant.name%> </h1>


  <%= @restaurant.name  %>
  <%=  @restaurant.address%>
  <%=  @restaurant.phone_number%>
  <%=  @restaurant.category%>
    <%= link_to "go home", restaurants_path %>
